.label {
  margin-left: 15px;
  margin-right: 7px;
  font-weight: 500;
  font-size: 20px;
}

.input {
  margin-left: 10px;
}

.button {
  background-color: rgb(185, 185, 194);
  font-weight: 700;
  border-radius: 4px;
}
